@page
@model Tul.WebApplications.SemesterProject.Web.Pages.Collections.EditModel
@{
}
<div class="text-gray-800">
    <form method="post">
        <input type="text" asp-for="collection_title" id="collection_title" />
        <input type="text" asp-for="collection_description" id="collection_description" />
        <button type="submit">Submit</button>
    </form>
</div>