@page
@model Tul.WebApplications.SemesterProject.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Domů";
}

<div class="block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Atheris - Photo collector 2025</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        Welcome in Atheris photo collector, this application was created as a semester project on subject of Web Applications on Faculty of Economics, Technical university of Liberec.
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        Project repository is publicaly avalable on GitHub: <a class="dark:text-gray-100" href="https://github.com/Lukasl32/WA-2025-Moravec-Lukas-semestral-project" target="_blank">REPOSITORY</a>
    </p>
</div>